<% if @student.active == "false" %>
  <% @student.active = "true" %>
  <% @student.save %>
  <% redirect_to @student %>
<% else %>
  <% @student.active = "false" %>
  <% @student.save %>
  <div><%= link_to @student, student_path(@student)%></div>
<% end %>
