<% if @student.active == "false" %>
  <% @student.active = "true" %>
  <% @student.save %>
  <div><%= link_to activate_student_path(@student)</div>
<% else %>
  <% @student.active = "false" %>
  <% @student.save %>
<% end %>
